<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center space-x-7">
      <div>
        <%= link_to 'Freela', root_path, class:"text-blue-800 font-bold text-4xl" %>
      </div>

      <% if current_project_owner %>
        <%= link_to 'Publicar projeto', new_project_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
        <%= link_to 'Meus Projetos', my_projects_projects_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
        <%= current_project_owner.email %>
        <%= link_to 'Logout', destroy_project_owner_session_path, method: :delete, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
      <% elsif current_freelancer %>
        <%= link_to 'Ver projetos', projects_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
        <% if not current_freelancer.freelancer_profile.blank? %>
          <%= link_to current_freelancer.email, freelancer_profile_path(current_freelancer.id), class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
        <% else%>
          <%= current_freelancer.email %>
        <% end %>
        <%= link_to 'Logout', destroy_project_owner_session_path, method: :delete, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
      <% else %>
        <div class="md:flex items-center space-x-1">
            <%= link_to 'Cadastre-se', sign_up_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
            <%= link_to 'Entrar', sign_in_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-800 transition duration-300" %>
        </div>
      <% end %>

    </div>
  </div>
</nav>

