<div class="form-border">
  <h2 class="text-center block text-gray-700 text-xl font-bold mb-2">Esqueceu sua Senha?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "project_owners/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-field" %>
    </div>

    <div class="actions my-4">
      <%= f.submit "Enviar instruções para renovar a senha", class: "bg-white text-gray-700 text-sm font-bold text-center mt-4 hover:underline" %>
    </div>
  <% end %>

  <%= render "project_owners/shared/links" %>
</div>
