<h1 class="block text-gray-700 text-xl font-bold mx-4 my-4">Mantenha seu perfil sempre atualizado</h1>

<h2 class="form-title">Perfil</h2>

<%= form_with(model: @freelancer_profile) do |f| %>
  <div class="form-m-w-content">
    <div class="mb-4">
      <%= f.label :name, 'Nome completo',class: "form-label" %>
      <%= f.text_field :name, class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:name).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :social_name, 'Nome Social',class: "form-label" %>  
      <%= f.text_field :social_name, class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:social_name).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :birth_date, 'Data de Nascimento', class: "form-label" %>
      <%= f.date_field :birth_date,  order: [:day, :month, :year], class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:birth_date).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :education, 'Formação',class: "form-label" %>
      <%= f.text_field :education, class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:education).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :description, 'Descrição', class: "form-label" %>
      <%= f.text_area :description, rows: 4, class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:description).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :experience, 'Experiência', class: "form-label" %>
      <%= f.text_area :experience, rows: 4, class: "form-text-field" %>

      <% @freelancer_profile.errors.full_messages_for(:experience).each do |message| %>
        <div class="mt-1 text-red-500"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :actuation_area_id, 'Área de atuação', class: "text-gray-700 text-sm font-bold mb-2" %>
      <%= f.collection_select :actuation_area_id, ActuationArea.all, :id, :name %>
    </div>

    <div class="mb-4">
      <%= f.label :image, 'Foto de Perfil', class: "text-gray-700 text-sm font-bold mb-2" %>
      <%= f.file_field :image, class: "text-gray-700 text-sm font-bold" %>
    </div>

    <%= f.submit 'Salvar', class: "form-submit-button" %>
  </div>
<% end %>
