<div class="form-border">
<h2 class="form-title">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-m-w-content">
    <div class="mb-4">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-field" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-text-field" %>
    </div>

    <% if devise_mapping.rememberable? %>
      
      <div class="mb-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "form-submit-button" %>
    </div>
  </div>
<% end %>

<div class="form-content-after-submit-button">
  <%= render "freelancers/shared/links" %>
</div>

</div>
